{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="site-focus-in">

        <header>
            <nav class="container container--70">
                {% include 'navbar.html' %}
            </nav>
        </header>

        <div class="password-resent-done">
            <div class="password-resent-done-container">
                <h2 class="text-center">Uwaga!</h2>
                <h1>
                    Jeśli konto o podanym adresie email istnieje w naszym systemie, to została wysłana
                    wiadomość z resetowaniem hasła do Twojego konta.
                    Jeśli nie widzisz e-maila, prosimy sprawdzić, czy na pewno został podany prawidłowy adres email
                    lub sprawdź, czy nie jest w folderze "spam".
                </h1>
            </div>
            <div class="password-resent-done-container-button">
                <button onclick="location.href = '{% url 'main-page' %}'">Powrót do strony głównej</button>
            </div>
        </div>

    </div>

    <script src="{% static 'js/app.js' %}"></script>

{% endblock %}