{% extends 'base.html' %}
{% block content %}

    <h1>
        Wysłaliśmy Ci e-mailem instrukcje dotyczące ustawiania hasła,
        jeśli istnieje konto z wprowadzonym adresem e-mail, to powinieneś je wkrótce otrzymać.
    </h1>
    <h2>
        Jeśli nie widzisz e-maila, proszimy sprawdzić czy na pewno zostan podany prawidłowy adres email w celu zresetowania hasła.
        Bądź też sprawdzić folder "spam".
    </h2>
    <a href="{% url 'main-page' %}">
        <button class="btn btn-edit" type="submit"> Powrót do strony głównej </button>
    </a>

{% endblock %}