{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="site-focus-in">

        <header>
            <nav class="container container--70">
                {% include 'navbar.html' %}
            </nav>
        </header>

        <div class="password-resent-done">
            <div class="password-resent-done-container">
                <h2 class="text-center">Stare hasło zostało zaktualizowane!</h2>
            </div>
            <div class="password-resent-done-container-button">
                <button onclick="location.href = '{% url 'login' %}'">Powrót do strony zalogowania</button>
            </div>
        </div>

    </div>

    <script src="{% static 'js/app.js' %}"></script>
{% endblock %}