{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="site-focus-in">

        <header>
            <nav class="container container--70">
                {% include 'navbar.html' %}
            </nav>
        </header>

        <div class="main-reset-passwd-grid">
            <div class="container-reset-passwd">
                <h1>Proszę podać email w celu zresetowania hasła</h1>
                <form method="post" class="settings-form" action="{% url 'password_reset' %}">
                    {% csrf_token %}
                    <div class="settings-form-control">
                        <label for="id_email">
                            <input id="id_email" type="email" name="email" placeholder="aaaa@domain.com">
                        </label>
                        <i class="fas fa-check-circle fa-2x"></i>
                        <i class="fas fa-exclamation-circle fa-2x"></i>
                        <small>Error message</small>
                    </div>
                    <button class="settings-form" type="submit">Wyślij prośbę</button>
                </form>
            </div>
        </div>

    </div>

{% endblock %}