{% extends 'base.html' %}
{% block content %}

    <div class="site-focus-in">

        <header>
            <nav class="container container--70">
                {% include 'navbar.html' %}
            </nav>
        </header>

        <div class="password-resent-done">
            <div class="password-resent-done-container">
                <form method="post" class="settings-form">
                    {% csrf_token %}

                    <h2 class="text-center">Wprowadź nowe hasło</h2>

                    <div class="settings-form-control">
                        <label class="" for="id_new_password1">
                            <input name="new_password1" class="form-control" placeholder="Nowe hasło"
                                   type="password" id="id_new_password1">
                            <i class="fas fa-check-circle fa-2x"></i>
                            <i class="fas fa-exclamation-circle fa-2x"></i>
                            <small>Error message</small>
                        </label>
                    </div>

                    <div class="settings-form-control">
                        <label for="id_new_password2">
                            <input name="new_password2" class="form-control" placeholder="Powtórz hasło"
                                   type="password" id="id_new_password2">
                            <i class="fas fa-check-circle fa-2x"></i>
                            <i class="fas fa-exclamation-circle fa-2x"></i>
                            <small>Error message</small>
                        </label>
                    </div>
                    <div class="password-resent-done-container-button">
                        <button type="submit">Potwierdź</button>
                    </div>

                    {#                    <div class="form-settings-data-errors">#}
                    {#                        {% for field in form_edit_profile %}#}
                    {#                            {% for error in field.errors %}#}
                    {#                                <div>#}
                    {#                                    <p data-input-error>{{ field.name }}</p>#}
                    {#                                    <p data-message-error>{{ error|escape }}</p>#}
                    {#                                </div>#}
                    {#                            {% endfor %}#}
                    {#                        {% endfor %}#}
                    {#                    </div>#}
                </form>
            </div>
        </div>

    </div>

{% endblock %}
