{% extends 'base.html' %}
{% load static %}
{% block content %}

    <header>
        <nav class="container container--70">

            {% include 'navbar.html' %}

        </nav>
    </header>

    <section class="login-page">
        <h2>Zaloguj się</h2>

        {% include 'errors.html' %}

        <form method="post" id="login-form">
            {% csrf_token %}
            {% for field in login_form %}
                <div class="form-group">
                    {{ field }}
                    {% for error in field.errors %}
                        <div class="requirements message-error">{{ error|escape }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="form-group"><a href="#" class="btn btn--without-border reset-password">Zresetuj hasło</a></div>
            <div class="form-group form-group--buttons">
                <a href="{% url 'register' %}" class="btn btn--without-border">Załóż konto</a>
                <button class="btn" type="submit">Zaloguj się</button>
            </div>

        </form>
    </section>
    <script src="{% static '/js/login-register.js' %}"></script>
{% endblock %}
