{% load static %}

<!DOCTYPE html>
<html lang="pl">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>Oddam W Dobre Rece!</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    </head>

    <body>
        {% if messages %}
            <div class="flex-lg-row">
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert" role="alert">
                            {{ message }}
                        </div>
                    {% elif message.tags == 'success' %}
                        <div class="alert" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}

        {% endblock %}

        {% include 'footer.html' %}
        <script src="{% static '/js/app.js' %}"></script>
    </body>
</html>