{% load static %}
<footer>
    <div id="contact" class="contact">
        <h2>Skontaktuj się z nami</h2>

        {% include 'errors.html' %}

        <h3>Formularz kontaktowy</h3>

        <form method="post" id="footer_form" action="{% url 'main-page' %}" class="form--contact">
            {% csrf_token %}

            {% for field in footer_form %}
                {% if field.name == 'name' or field.name == 'email' %}
                    <div class="form-group form-group--50">
                        {{ field }}
                        {% for error in field.errors %}
                            <div class="requirements message-error">{{ error|escape }}</div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="form-group">{{ field }}</div>
                {% endif %}
            {% endfor %}
            <button class="btn" type="submit">Wyślij</button>
        </form>
    </div>
    <div class="bottom-line">
        <span class="bottom-line--copy">Copyright &copy; 2022</span>
        <div class="bottom-line--icons">
            <a href="#" class="btn btn--small"><img src="{% static '/images/icon-facebook.svg' %}" alt="facebook image"/></a>
            <a href="#" class="btn btn--small"><img src="{% static '/images/icon-instagram.svg' %}" alt="instagram image"/></a>
        </div>
    </div>
</footer>