{% if user.is_authenticated %}
    <ul class="nav--actions">
        <li class="logged-user">
            Witaj {{ user.get_short_name|title }}
            <ul class="dropdown">
                <li><a href="{% url 'profile' user.pk %}">Profil</a></li>
                <li><a href="{% url 'profile-edit' user.pk %}">Ustawienia</a></li>
{#                <li><a href="#">Moje zbiórki</a></li>#}
                {% if user.is_superuser %}
                    {% load admin_urls %}
                    <li><a href="{% url 'admin:index' %}">Panel Administracyjny</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">Wyloguj</a></li>
            </ul>
        </li>
    </ul>
{% else %}
    <ul class="nav--actions">
        <li><a href="{% url 'login' %}">Zaloguj</a></li>
        <li class="highlighted"><a href="{% url 'register' %}">Załóż konto</a></li>
    </ul>
{% endif %}

<ul>
    <li><a href="{% url 'main-page' %}" class="btn btn--without-border active">Start</a></li>
    <li><a href="{% url 'main-page' %}#steps" class="btn btn--without-border">O co chodzi?</a></li>
    <li><a href="{% url 'main-page' %}#about-us" class="btn btn--without-border">O nas</a></li>
    <li><a href="{% url 'main-page' %}#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'add-donation' %}#section-1" class="btn btn--without-border">Przekaż dary</a></li>
    {% endif %}
    <li><a href="{% url 'main-page' %}#contact" class="btn btn--without-border">Kontakt</a></li>
</ul>